<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>Pic_paging</id>
<name>文章图片分页</name>
<url>http://ifung.net</url>
<note>图片站必备</note>
<description></description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>可风网</name>
  <email>thisexplorer@qq.com</email>
  <url>http://ifung.net</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>151626</adapted>
<version>1.1</version>
<pubdate>2017-10-20</pubdate>
<modified>2018-10-21</modified>
<price>0</price>
<phpver>5.2</phpver>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <existsfunctions></existsfunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>